section {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
section nav {
   margin-bottom: 24px;
}
.listHeader {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.listHeader span {
   font-weight: bold;
   font-size: 16px;
   line-height: 30px;
   color: #212529;
}
section nav button {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #868E96;
   border-radius: 8px;
   background: #E9ECEF;
   border: none;
   cursor: pointer;
   padding: 10px;
   margin-right: 10px;
}
section nav button:hover {
   background-color: #868E96;
   color: white;
}
.todos {
   background: #FD377E;
   color: white;
}
.cards {
   height: 350px;
   overflow-y: auto;
   width: 320px;
}
@media (min-width: 800px){
   .listHeader {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: 100%;
   }
   section{
       max-width: 468px;
   }
   section nav {
       margin-bottom: 0;
   }
   .listHeader span {
       margin-left: 10px;
   }
   .cards{
       margin-top: 20px;
       width: 100%;
   }
}